.EquipmentItem {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    height: 36px;
    margin-bottom: 20px;
}

.EquipmentItem select {
    width:190px;
    height: 36px;
}